.cell-container {
    background-color: white;
    border-bottom: 1px solid white;


    .cell {
        display: flex;
        height: 40px;
        min-width: 40px;
        justify-content: center;
        align-items: center;
        margin: 1px;
        background-color: #d30229;
        border: 6px outset #d30229;
        border-radius: 1px;
        font-size: 12px;
        cursor: pointer;

        .flag-logo{
            display: none;
        }

        .mine-logo{
            display: none;
        }

        &.superman{
            background-color: white;
        }

        &.open-cell {
            border-width: 6px;
            border-style: inset;
            background-color: white;
            border-color: white;
            color: #61dafb;
            cursor: auto;


            &.mine-cell {
                .mine-logo{
                    display: block;
                    height: 35px;
                    width: 35px;
                }
            }

            &.mine-near-cell-1{
                color: red;
            }

            &.mine-near-cell-2{
                color: silver;
            }

            &.mine-near-cell-3{
                color: gold;
            }

            &.mine-near-cell-4{
                color: pink;
            }


            &.mine-near-cell-5{
                color: brown;
            }


            &.mine-near-cell-6{
                color: green;
            }
        }

        &.close-cell{

            &.flag-cell{
                background-color: white;
                .flag-logo{
                    display: block;
                    height: 35px;
                    width: 35px;
                }
            }
        }

        &.close-cell:hover{
            background-color: lightcoral;
        }
    }

    /*.cell:last-child {
        border-right: none;
    }*/
}

